<html lang="@@lang">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <!-- CSS -->
    <link rel="stylesheet" media="all" href="css/normalize.css?ver=1.008">
    <link rel="stylesheet" media="all" href="css/magnific-popup.min.css?ver=1.008">
    <link rel="stylesheet" media="all" href="css/swiper-bundle.min.css?ver=1.008">
    <link rel="stylesheet" media="all" href="css/style.min.css?ver=1.008">
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico?ver=1" type="image/x-icon">
    <!-- JS -->
    <script src="js/jquery.min.js?ver=1.008"></script>
    <!-- Description and OpenGraph -->
    <title>@@title</title>
    <meta name="description" content="@@description">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <meta name="Address" content="">
    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@description">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="favicon.ico?ver=1">
  </head>
